.about_content {
    display: flex;
    height: 90%;
    font-size: 20px;
    align-items: center;
}

.about_module {
    height: 95%;
    width: 40%;
    background-color: #333333;
    border-radius: 15px;
}

.about_text {
    margin: 14px;
}

.title_text {
    font-size: 32px;
}

.content_text {
    margin-top: 10px;
}

.refLink {
    color: aliceblue;
}